<% title 'Keys &rarr; '.html_safe + @key.title %>

<% if false # REMOVED @key_password %>
  <div id="password-div">
    Remember this password, we will not store it.<br />
    <span><%= @key_password %></span>
  </div>
<% end %>

<% if @key.user_id != current_user.id %>
  <div>
    <strong>WARNING: this key isn't yours.</strong>
  </div>
<% end %>

<p>
	<strong>Digest:</strong>
	<input type="text" style="width:275px" value="<%= @key.digest %>" />
</p>

<textarea readonly cols="85" rows="32">
<%= @key.body %>
</textarea>

<br>

<textarea readonly cols="85" rows="11">
<%= @key.public_body %>
</textarea>

<br>

<%= link_to 'Assigned certificates', key_certificates_path(@key) %> |
<% if can? :edit, @key -%>
  <%= link_to 'Edit', edit_key_path(@key) %> |
<% end -%>
<%= link_to 'Back', keys_path %>
