<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SecureSign" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>

<body class="<%= params[:controller] %>">
	
	<div id="container">
		
		<div id="header">
			<div id="account-links">
				<% if current_user %>
					Logged in as <%= link_to current_user.email, current_user %>.
					<%= link_to 'Log out', logout_path %>
				<% else %>
					<%= link_to 'Sign up', signup_path %>
					or
					<%= link_to 'Log in', login_path %>
				<% end %>
			</div>
			
			<div id="logo">
        <a href='/'><span>Secure</span>Sign</a>
      </div>
		</div>
		
		<div id="content-container">
		  <% if current_user && current_user.blocked? %>
  		  <div id="flash_alert">
  		    You account is blocked.
  		  </div>
		  <% end %>
			<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h3, yield(:title), :id => 'page-title' if show_title? %>
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? or Rails.env.test? %>
		</div>
	</div>

</body>
</html>
